*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gray{
    color: rgb(114, 114, 114);
}

.light-gray{
    background-color: rgb(190, 188, 187 );
}

.dark-gray{
    background-color: rgb(31, 31, 31);
}

.dark-blue{
    background-color: rgb(22, 28, 59);
}

.light-blue{
    background-color: rgb(0, 57, 156);
}

#text-pri:hover{
    color: #0061ff;
}

.black{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#giochidropdown:hover,
#hardwaredropdown:hover,
#serviziDropdown:hover,
#novitaDropdown:hover,
#acquistiDropdown:hover,
#supportoDropdown:hover,
#playstationDropdown:hover{
    color: #0061ff;
}

.fa-circle{
    color: #0061ff;
    font-size: 6px;
    margin-right: .3rem;
    vertical-align: middle;
}

.arrow-down{
    width: 16px;
    display: inline-block;
    padding-left: .2rem;
}

.chev-rot:active img{
    transform: rotate(180deg);
}

.btn-out:hover{
    box-shadow: 0px 0px 0px 4px #dc3545;
    outline: 2px solid white;
}

.btn-dark:hover{
    box-shadow: 0px 0px 0px 4px #23272a;
    outline: 2px solid white;
}

.arrow-down:hover{
    color: #0061ff;
}

.btn-lens img{
    width: 1.5rem;
}

.over-ps:hover{
    box-shadow: 0px 0px 8px rgb(114, 114, 114);
}

.black img{
    width: 70px;
    height: 40px;
    margin-right: 1rem;
}

.img-tra{
    transition: all 1s;
}

.img-tra:hover{
    transform: translatey(-10%);
}

.img-shadow{
    transition: box-shadow 1s;
}

.img-shadow:hover{
    box-shadow: 0px 20px 20px 0px darkgray; 
    outline: 3px solid #0061ff;
}

.bo-white{
    border: 1px solid white;
}

.bo-blue{
    outline: 3px solid #0061ff;
}

.returnal{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    margin-top: 7rem;
}

.text-item{
    margin-top: 20em;
}

.jumbo .btn-radius{
    border-radius: 1.25rem;
}

.returnal-logo{
    width: 40%;
}

.border-5{
    border-radius: 15px;
}

.border-6{
    border-radius: 20px;
}

.margin-b{
    margin-bottom: 6rem;
}

.margin-b-4{
    margin-bottom: 4rem;
}

.margin-t-6{
    margin-top: 5rem;
}

.margin-t-5{
    margin-top: 4rem;
}

.padding-b-6{
    padding-bottom: 6rem;
}

.back-op{
    opacity: 0.6;
}

.border-b-blue{
    border-bottom: 2px solid #0061ff;
}

.scale{
    transition: all 1s;
}

.scale:hover{
    transform: scale(1.05);
}

.cursor{
    cursor: pointer;
}

.over_adv:hover{
    opacity: 1;
    border-bottom: 2px solid #0061ff;
    cursor: pointer;
}

.btn_play:hover{
    outline: 2px solid white;
    box-shadow: 0px 0px 0px 5px #0061ff;
}

.btn_gray-one:hover{
    outline: 2px solid #bebcbb;
    box-shadow: 0px 0px 0px 4px white;
}


.it-take{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.it-takes-logo{
    width: 40%;
}

.btn-dark-blue:hover{
    outline: 2px solid #161c3b;
    box-shadow: 0px 0px 0px 4px white;
}

.social{
    width: 150px;
    height: 150px;
}

.margin-top-img{
    margin-top: 10rem;
}

.banner-plus{
    height: 100%;
}

.fa-trademark{
    font-size: 11px;
    vertical-align: super;
}

.ps-plus{
    width: 60%;
}

.ps-now{
    width: 70%;
}

.fa-globe{
    padding-right: .5rem;
}

.sie-logo{
    width: 20%;
}

.list-foot li{
    margin-bottom: .4rem;
}


