*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gray{
    color: rgb(114, 114, 114);
}

.black{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.black img{
    width: 70px;
    height: 40px;
    margin-right: 1rem;
}

.returnal{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-item{
    padding-top: 20em;
}

.jumbo .btn-radius{
    border-radius: 1.25rem;
}

.returnal-logo{
    width: 40%;
}

.border-5{
    border-radius: 15px;
}

.border-6{
    border-radius: 20px;
}

.margin-b{
    margin-bottom: 6rem;
}

.margin-b-4{
    margin-bottom: 4rem;
}

.back-op{
    opacity: 0.6;
}

.border-b-blue{
    border-bottom: 2px solid #0061ff;
}